/* OVERRIDE */

/*
Common
-----------------------*/
.white-box,
.groom-color,
.bride-color,
.timeline > li > .timeline-panel,
.logo-box {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}


/*
Menu
-----------------------*/
.navbar-default {
  background: none !important;
  border: none !important;
}

.navbar-default.scroll-bg {
  background: rgba(255, 255, 255, .9) !important;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  cursor: pointer;
}

.hover_active:before,
.hvr-overline-from-center:before {
  background: #000 !important;
  bottom: 0;
  top: auto;
}

.navbar-default .navbar-nav > li.menu-rsvp > a span {
  background: #000;
  border-radius: 4px;
  color: #fff;
  padding: 12px 30px;
}

.menu-rsvp.hover_active:before,
.menu-rsvp.hvr-overline-from-center:before {
  background: none !important;
}

.navbar-default .navbar-nav > li.menu-babyshower > a span {
  background: #57c0ec;
  border-radius: 4px;
  color: #fff;
  padding: 12px 30px;
}

.menu-babyshower.hover_active:before,
.menu-babyshower.hvr-overline-from-center:before {
  background: none !important;
}

.menubar-s2 svg {
  fill: #000;
}

.logo-s2 {
  visibility: hidden;
}


/*
Home
-----------------------*/
.bg-home {
  background-image: url('../img/background-home.jpg');
}

.inner-data {
  color: #000;
}

.clock-canvas {
  background-color: rgba(255, 255, 255, .6);
}

.text {
  color: #000;
}

.bg-main-image-overlay {
  background-color: rgba(255, 255, 255, .4);
}


/*
Couple
-----------------------*/
.bg-couple {
  background-image: url('../img/background-couple.jpg');
}

.groom-color,
.bride-color {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
}


/*
Story
-----------------------*/
.bg-story {
  background-image: url('../img/background-story.jpg');
}

.timeline:before {
  background: #f0394d;
}

.timeline h3 {
  color: #000;
}

.label-default {
  background-color: #f0394d;
}

.timeline > li > .timeline-panel {
  background: rgba(255, 255, 255, .8);
}

.timeline > li > .timeline-panel a {
  color: #f0394d;
  cursor: pointer;
}


/*
Wedding
-----------------------*/
.bg-wedding {
  background-image: url('../img/background-wedding.jpg');
}

.white-box {
  background: rgba(255, 255, 255, .8);
}

.ceremony-detail svg {
  fill: #000;
}

.ceremony-detail h5 {
  color: #000;
}

.ceremony-detail img {
  margin-top: -2px;
  margin-right: 5px;
  margin-bottom: 0;
}

.ceremony-detail a,
.pt-page-wedding .about-the-people a {
  color: #f0394d;
  cursor: pointer;
}

.ceremony-detail a {
  margin: 25px;
}

.iframe-wrapper {
  border: 1px solid #fff;
  border-radius: 3px;
  overflow: hidden !important;
}

.iframe-wrapper iframe {
  width: 100% !important;
}


/*
Gifts
-----------------------*/
.bg-gifts {
  background-image: url('../img/background-gifts.jpg');
}

.logo-box {
  background: rgba(255, 255, 255, .8);
}


/*
RSVP
-----------------------*/
.bg-rsvp {
  background-image: url('../img/background-rsvp.jpg');
}

.rsvp-form p span {
  color: #000;
  font-weight: bold;
}

.hvr-sweep-to-right:before {
  background: #000;
}

.form-group .form-control ~ label:after,
.form-group .form-control ~ .form-control-line:after {
  background-color: #f0394d;
}

.form-group .form-control:focus ~ label {
  color: #f0394d;
}

.form-group .select2-list {
  font-size: 16px;
  cursor: pointer;
}

.successalert {
  margin-bottom: 0;
}


/*
Baby Shower (moved to template to avoid potential cache issues)
-----------------------*/


/*
Responsive
-----------------------*/
.header {
  background: none;
}

.logo-responsive {
  visibility: hidden;
}

.hamburger img {
  width: 32px;
  height: 32px;
}

.vertical-menu-responsive {
  background: rgba(255, 255, 255, .8);
}

#dl-menu.navbar-fixed-top {
  transition: all 300ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}